.sidebar{
	top: 80px;
	flex: 0.6;
	border-radius: 10px;
	height: fit-content;
}

.sidebar__div {
	display: flex;
	flex-direction: column;
	/*align-items: center;*/ 
	border: 1px solid lightgray;
	border-radius:10px;
	background-color: white;
	padding-bottom: 10px;
}

.sidebar__div__skills {
	display: flex;
	flex-direction: column;
	/*align-items: center;*/ 
	border: 1px solid lightgray;
	border-bottom-color: rgb(230, 230, 230);
	border-radius:10px 10px 0px 0px;
	background-color: white;
	padding-bottom: 10px;
}

.sidebar__skills {
	border: 1px solid lightgray;
	border-top-width: 0px;
	border-radius:0px 0px 10px 10px;
	background-color: white;
}

.sidebar__intro {
	display: flex;
	flex-direction: column;
	/*align-items: center;*/ 
	border: 1px solid lightgray;
	border-radius:10px;
	background-color: white;
	padding-bottom: 10px;
}

/* sidebar__intro__top */
.sidebar__intro__top{

}

.sidebar__intro__img {
	margin-bottom: -110px;
	width: 100%;
	height: 200px;
	border-top-left-radius:10px ;
	border-top-right-radius: 10px ;
	object-fit: cover;
}

.sidebar__avatar {
	margin-bottom: 10px;
	margin-left: 22px;
	border: 4px solid white;
	object-fit: contain;
	height: 160px !important;
	width: 160px !important;
}

.avatar {
	object-fit: contain;
	height: 700px !important;
	width: 700px !important;
}





.contact__img {
	height: 25px;
	width: 25px;
}

.sidebar__intro__bio {

}

.sidebar__intro__bottom__jobs {
	background-color: #DDE6F1;
}

